/* Global styles */
* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  max-width: 1000px;
  margin: 0;
  padding: 0 5rem;
}

.first-title {
  margin-bottom: 2rem;
}

.first-row img {
  width: 100%;
  height: 300px;
}

.second-row img {
  width: 100%;
  height: 500px;
}

.img-wrapper > img,
.image-carousel-wrapper > img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* Button styling */
button {
  border: none;
  border-radius: 1rem;
  padding: 0;
  margin: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.658);
}

.search-icon {
  color: rgb(255, 230, 0);
  opacity: 0 !important;
}

.img-wrapper:hover > button .search-icon {
  transition: all ease 0.3s;
  opacity: 1 !important;
}

.modal-dialog {
  min-width: 50vw;
}

.modal-image {
  text-align: center;
  width: 50vw;
}

.image-slider {
  max-width: 1000px !important;
}

.image-event {
  max-width: 80vw;
}

.image-slider>.carousel-inner,
.image-carousel-event-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0;
}

.image-carousel-event-inner>.carousel-item {
  display: flex;
  margin-right: 0;
  flex: 0 0 calc(100% / 10) !important;
  padding: 0 5px;
}

.image-carousel-event-inner>.active {
  transition: all ease 0.2s;
opacity: 0.5;
}

.image-carousel-event-inner>.carousel-item>.image-carousel-wrapper > img {
  flex: 1;
  object-fit: cover;
  max-height: 160px;
  min-width: 100%;
  border-radius: 0px;
  cursor: pointer;
}


.image-slider>.carousel-inner>.carousel-item {
  display: flex;
  margin-right: 0;
  flex: 0 0 calc(100% / 3) !important;
  padding: 10px;
}

.image-carousel-wrapper {
  max-width: 100%;
  height: 300px;
}

.image-carousel-wrapper > img {
  flex: 1;
  object-fit: cover;
  height: 250px;
  width: 100%;
  border-radius: 1rem;
}

.image-slider>.carousel-inner>.carousel-item.active {
  transform: scale(1.2);
  z-index: 2;
}

.nav-button {
  display: flex;
  justify-content: center;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 2;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 200px;
  border: 2px #000 solid;
  margin: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  height: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: rgb(255, 230, 0);
  transition: all ease-in 0.2s;
}

.active-image-container img {
  width: 80vw;
  height: 700px;
  object-fit: cover;
  border: 5px rgb(0, 132, 255) solid;
}

